- selected_children = self[:node].childrens(filter: self[:filter])
- if selected_children.size === 0
  p.muted-text
    | No #{self[:title]}
- else
  div class=self[:filter].to_s
    h3
      | #{self[:title]}
    ul
      - if self[:filter] == :methods
        - selected_children.each do |child|
          li
            | new &nbsp;
            / == include_slim :function, { node: child  }
      - else
        - selected_children.each do |child|
          li
            a(href=child.link)
              | #{child.name}
            | (
            == include_slim :function_definition, { node: child, onlyparams: true }
            | )
            - if self[:withfullname]
              span.small.muted-text
                | &nbsp; (#{child.get_fullname})
