div.attrs
  h3
    span.small.text-muted
      | new &nbsp;
    == include_slim :function_definition, { node: self[:node] }
  == include_slim :table, { attributes: self[:node].attributes['params'], node: self[:node] }

  / table.table
  /   .thead
  /     tr
  /       th name
  /       th types
  /       th description
  /   .tbody
  /     - if self[:node]['attributes']
  /       - self[:node]['attributes'].each do |attr|
  /         tr
  /           th(scope="row")
  /             | #{attr['name']}
  /           td
  /             | #{attr['type']['names'].join(' | ')}
  /           td
  /             | #{attr['description']}

