doctype html
html
  head
    title Documentation
    meta name="keywords" content="documentation"
    meta name="author" content="arthur poulet"
    / link rel="icon" type="image/png" href=file_path("favicon.png")
    link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"

  body
    header.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0.shadow
    div.container-fluid
      .row
        nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
          div class="position-sticky pt-3"
            ul class="nav flex-column"
              li class="nav-item"
                a class="nav-link active" aria-current="page" href=(self[:node].daddy || self[:node]).link
                  span data-feather="home"
                  | Home
              - self[:html_help][:all_parents_ordered].each_with_index do |parent, idx|
                li class="nav-item"
                  a class="nav-link active" aria-current="page" href=parent.link
                    span data-feather="?"
                    - idx.times
                      | &nbsp;&nbsp;
                    | #{parent.name} (parent)

        main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
          h1
            | Documentation
          h2
            | #{self[:node].name}
            small.text-muted
              | &nbsp; (#{self[:node].get_fullname})
          / p.attributes
          /   == JSON.generate(self[:attributes], { array_nl: "<br />", object_nl: "<br />", indent: '&nbsp;&nbsp;', space_before: ' ', space: ' ' })

          p.description
            | #{self[:attributes]['description']}

          p.definition
            a(href=self[:node].get_file(with_lines: false))=self[:node].get_file(with_lines: true)

          == include_slim :table, { title: :Properties, attributes: self[:attributes]['properties'], node: self[:node] }
          - if self[:attributes]['kind'] == 'class'
            == include_slim :constructor, { node: self[:node] }
          - else
            == include_slim :table, { title: :Parameters, attributes: self[:attributes]['params'], node: self[:node] }

          == include_slim :children, { filter: :method, title: :Methods, node: self[:node], withfullname: false  }
          == include_slim :children, { filter: :static, title: :Statics, node: self[:node], withfullname: false  }
          == include_slim :children, { filter: :default, title: :Contained, node: self[:node], withfullname: true }
