- if !self[:onlyparams]
  | #{self[:node].name}(
- if self[:node].attributes['params']
  - self[:node].attributes['params'].each_with_index do |param, idx|
    | #{param['name']}
    - puts "param", param
    - if !self[:notype] && param['type']
      span.small.text-muted
        | :
        = param['type']['names'].join('|')
    - if idx < self[:node].attributes['params'].size - 1
      | ,&nbsp;
- if !self[:onlyparams]
  |)
