- if !self[:attributes]
  - if self[:title]
    p.muted-text
      | No #{self[:title]}
- else
  div.attrs
    - if self[:title]
      h3
        | #{self[:title]}
    table.table
      .thead
        tr
          th name
          th types
          th description
      .tbody
        - self[:attributes].each do |attr|
          tr
            th(scope="row")
              | #{attr['name']}
            td
              | #{attr['type']['names'].join(' | ')}
            td
              | #{attr['description']}
